<% include partials/header %>
<script>
    function imgError(image) {
        image.onerror = "";
        image.src = "/images/noimage.png";
        return true;
    }
</script>
<style>
    .badge-pill {
        font-size: 15px;
    }

    .list-group {
        width: 100%;
    }

    .list-group-item {
        padding: 15px;
        font-size: 15px;
    }

    .fas {
        font-size: 18px;
    }

    .card-img {
        width: 117px;
        height: 117px;
    }

    .card-title {
        font-weight: 600;
    }

    .subheader {
        font-size: 18px;
    }
</style>

<div class="container" style="text-align:  center !important;min-width: 100% !important;">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
                style="font-weight: bold;justify-content: center !important;font-size: 30px;height: 100px;background-color: antiquewhite;">
                Welcome,&nbsp
                <span style="color: darkred; text-decoration: underline"><%= currentUser.username %></span>
            </li>
        </ul>
    </div>
</div>

<div class="container" style="min-width: 80%;">
    <div class="row">
        <div class="col-lg-6">
            <p></p>
            <div class="container" style="text-align:  center !important;min-width: 100% !important;">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        style="font-weight: bold;justify-content: center !important;font-size: 20px;">
                        Application Summary
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-users"> Unique Users</i>
                        <span class="badge badge-info badge-pill"><%= users.length %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-utensils"> Total Recipes Posted</i>
                        <span class="badge badge-warning badge-pill"><%= recipes.length %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-comments"> Total Tags Added</i>
                        <span class="badge badge-primary badge-pill"><%= comments.length %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-heart"> Total Likes</i>
                        <span class="badge badge-danger badge-pill">
                            <% var likesCount = 0 %>
                            <% for(var i = 0; i < recipes.length; i++) { %>
                                <% likesCount = likesCount + recipes[i].likes.length %>
                            <% } %>
                            <%= likesCount %>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-thumbs-up"> Total Up Votes</i>
                        <span class="badge badge-success badge-pill">
                            <% var voteCount = 0 %>
                            <% for(var i = 0; i < recipes.length; i++) { %>
                                <% voteCount = voteCount + recipes[i].upvotes.length %>
                            <% } %>
                            <%= voteCount %>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <p></p>
            <div class="container" style="text-align:  center !important;min-width: 100% !important;">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight:
                bold;justify-content: center !important;font-size: 20px;">
                        User Statistics
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-users"> Username</i>
                        <span style="font-weight: bold"><%= currentUser.username %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-utensils"> Total Recipes Posted</i>
                        <% var count = 0; %>
                        <% for(var i = 0;i < recipes.length;i++){ %>
                            <% if(recipes[i].author.username.match(currentUser.username)){ %>
                                <% count++; %>
                            <% } %>
                        <% } %>
                        <span class="badge badge-warning badge-pill"><%= count %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-comments"> Total Tags Added</i>
                        <% var count = 0; %>
                        <% for(var i = 0;i < comments.length;i++){ %>
                            <% if(comments[i].author.username.match(currentUser.username)){ %>
                                <% count++; %>
                            <% } %>
                        <% } %>
                        <span class="badge badge-primary badge-pill"><%= count %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-heart"> Total Likes</i>
                        <span class="badge badge-danger badge-pill">
                            <% var likesSum = 0 %>
                            <% for(var i = 0; i < recipes.length; i++) { %>
                                <% for(var j = 0;j < recipes[i].likes.length;j++) { %>
                                    <% if(recipes[i].likes[j].equals(currentUser._id)){ %>
                                        <% likesSum += 1 %>
                                    <% } %>
                                <% } %>
                            <% } %>
                            <%= likesSum %>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="fas fa-thumbs-up"> Total Up Votes</i>
                        <span class="badge badge-success badge-pill">
                            <% var votesSum = 0 %>
                            <% for(var i = 0; i < recipes.length; i++) { %>
                                <% for(var j = 0;j < recipes[i].upvotes.length;j++) { %>
                                    <% if(recipes[i].upvotes[j].equals(currentUser._id)){ %>
                                        <% votesSum += 1 %>
                                    <% } %>
                                <% } %>
                            <% } %>
                            <%= votesSum %>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<p></p>

<div class="container" style="min-width: 77%;">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight:
                bold;justify-content: center !important;font-size: 20px;">
                Top 3 Recipes By Likes
            </li>
            <p></p>
            <% var likesArray = []; %>
            <% for(var i = 0;i < recipes.length;i++) { %>
                <% likesArray.push({
                    "id": recipes[i].id,
                    "name": recipes[i].recipeName,
                    "likesCount": recipes[i].likes.length,
                    "recipeURL": recipes[i].recipeURL
                }) %>
            <% } %>
            <% likesArray = (likesArray.sort(function (a, b) {
                return b.likesCount - a.likesCount;
            })) %>
            <div class="row">
                <% for(var i = 0;i < 3;i++) { %>
                    <div class="col-lg-4">
                        <div class="card mb-3" style="min-width: 100% !important;">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <img src="<%= likesArray[i].recipeURL %>" onerror="imgError(this);"
                                         class="card-img">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= likesArray[i].name %><p></p>
                                            <span class="subheader"> <i class="fas fa-heart"
                                                                        style="color: red;"></i> <%= likesArray[i].likesCount %></span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </ul>
    </div>
</div>

<p></p>

<div class="container" style="min-width: 77%;">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight:
                bold;justify-content: center !important;font-size: 20px;">
                Top 3 Recipes By UpVotes
            </li>
            <p></p>
            <% var UpVotesArray = []; %>
            <% for(var i = 0;i < recipes.length;i++) { %>
                <% UpVotesArray.push({
                    "id": recipes[i].id,
                    "name": recipes[i].recipeName,
                    "upVotesCount": recipes[i].upvotes.length,
                    "recipeURL": recipes[i].recipeURL
                }) %>
            <% } %>
            <% UpVotesArray = (UpVotesArray.sort(function (a, b) {
                return b.upVotesCount - a.upVotesCount;
            })) %>
            <div class="row">
                <% for(var i = 0;i < 3;i++) { %>
                    <div class="col-lg-4">
                        <div class="card mb-3" style="min-width: 100% !important;">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <img src="<%= UpVotesArray[i].recipeURL %>" onerror="imgError(this);"
                                         class="card-img">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= UpVotesArray[i].name %><p></p>
                                            <span class="subheader"> <i class="fas fa-thumbs-up"
                                                                        style="color: deepskyblue;"></i> <%= UpVotesArray[i].upVotesCount %></span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </ul>
    </div>
</div>

<p></p>

<div class="container" style="min-width: 77%;">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight:
                bold;justify-content: center !important;font-size: 20px;">
                Top 3 Recipes By Tags
            </li>
            <p></p>
            <% var TagsArray = []; %>
            <% for(var i = 0;i < recipes.length;i++) { %>
                <% TagsArray.push({
                    "id": recipes[i].id,
                    "name": recipes[i].recipeName,
                    "tagsCount": recipes[i].comments.length,
                    "recipeURL": recipes[i].recipeURL
                }) %>
            <% } %>
            <% TagsArray = (TagsArray.sort(function (a, b) {
                return b.tagsCount - a.tagsCount;
            })) %>
            <div class="row">
                <% for(var i = 0;i < 3;i++) { %>
                    <div class="col-lg-4">
                        <div class="card mb-3" style="min-width: 100% !important;">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <img src="<%= TagsArray[i].recipeURL %>" onerror="imgError(this);"
                                         class="card-img">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= TagsArray[i].name %><p></p>
                                            <span class="subheader"> <i class="fas fa-tags"
                                                                        style="color: greenyellow;"></i> <%= TagsArray[i].tagsCount %></span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </ul>
    </div>
</div>

<p></p>

<div class="container" style="min-width: 77%;">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight:
                bold;justify-content: center !important;font-size: 20px;">
                Recipes Added By You
            </li>
            <p></p>
            <div class="row">
                <% for(var i = 0;i < recipes.length;i++) { %>
                    <% if(recipes[i].author.username.match(currentUser.username)){ %>
                        <div class="col-lg-4">
                            <div class="card mb-3" style="min-width: 100% !important;">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img src="<%= recipes[i].recipeURL %>" onerror="imgError(this);"
                                             class="card-img">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= recipes[i].recipeName %>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </ul>
    </div>
</div>

<p></p>

<div class="container" style="min-width: 77%;">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight:
                bold;justify-content: center !important;font-size: 20px;">
                Tags Added By You
            </li>
            <p></p>
            <div class="row">
                <% for(var i = 0;i < comments.length;i++) { %>
                    <% if(comments[i].author.username.match(currentUser.username)){ %>
                        <div class="col-sm-2">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <%= comments[i].text %>
                            </li>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </ul>
    </div>
</div>
<p></p>
<p></p>

<% include partials/footer %>