<!DOCTYPE html>
<html>
<head>
    <title>RecipeBook</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body class="background">
<div class="container" id="landing-header" style="min-width: 80%;">
    <div class="row">
        <div class="col-lg-6" id="users">
            <h1><i class="fas fa-users" style="color: gold;"></i>
                <p></p>
                <%= users.length %> <span class="headers"> Unique Users</span>
            </h1>
        </div>
        <div class="col-lg-6 recipes" id="recipes">
            <h1><i class="fas fa-utensils" style="color: coral;"></i>
                <p></p>
                <%= recipes.length %> <span class="headers"> Recipes</span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="main">
            <h1><a href="/recipes" type="button" class="btn btn-primary btn-lg"
                   style="width: 390px;color: white;">Welcome to
                    RecipeBook</a>
                <hr class="line">
                <% if (!currentUser){ %>
                    <a href="/login" id="button-main" type="button" class="btn btn-success btn-lg">Login</a>
                <% } %>
                <% if(currentUser) { %>
                    <a href="/dashboard" id="button-main" type="button" class="btn btn-warning btn-lg">View
                        Dashboard</a>
                <% } %>
                <% if (!currentUser){ %>
                    <a href="/register" id="button-main" type="button"
                       class="btn btn-danger btn-lg">Register</a>
                <% } %>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4" id="likes">
            <h1><i class="fas fa-heart" style="color: red;"></i>
                <p></p>
                <% var likesCount = 0 %>
                <% for(var i = 0; i < recipes.length; i++) { %>
                    <% likesCount = likesCount + recipes[i].likes.length %>
                <% } %>
                <%= likesCount %> <span class="headers"> Likes</span>
            </h1>
        </div>
        <div class="col-lg-4" id="upvotes">
            <h1><i class="fas fa-thumbs-up" style="color: deepskyblue;"></i>
                <p></p>
                <% var voteCount = 0 %>
                <% for(var i = 0; i < recipes.length; i++) { %>
                    <% voteCount = voteCount + recipes[i].upvotes.length %>
                <% } %>
                <%= voteCount %> <span class="headers"> Upvotes</span>
            </h1>
        </div>
        <div class="col-lg-4" id="tags">
            <h1><i class="fas fa-tags" style="color: greenyellow;"></i>
                <p></p>
                <%= comments.length %> <span class="headers"> Tags</span>
            </h1>
        </div>
    </div>
</div>
<!--<ul class="slideshow">-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--</ul>-->
</body>
</html>